workflows/n8n/autosar_review_workflow.json
{
  "name": "AUTOSAR ARXML Review",
  "_author": "Mathew S. Crawford | mathew.s.crawford@gmail.com | 734-765-4143",
  "_project": "AI-Assisted Automotive Software Engineering Workflow \u2014 ETAS/Ford Motor Company",
  "_file": "workflows/n8n/autosar_review_workflow.json",
  "_github": "github.com/MathewScottCrawford/etas-ford-ai-workflow",
  "_license": "MIT",
  "_purpose": "n8n workflow: AUTOSAR ARXML review trigger with ISO 26262 confidence gate and Gmail escalation",
  "_meta": {
    "description": "Receives ARXML diffs via webhook, routes to config_agent running on host via uvicorn, applies ISO 26262 confidence gate, sends Gmail notification when human review needed.",
    "version": "0.2.0",
    "safety_note": "No AI output auto-committed to ARXML baseline. Human approval required per ADR-001.",
    "agent_mode": "uvicorn on host \u2014 use host.docker.internal:8001. Switch to config-agent:8001 when running via Docker Compose."
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arxml-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook \u2014 ARXML diff received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "notes": "POST body: { arxml_diff, module, requirement_refs, context }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/review",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-config-agent",
      "name": "Config Agent \u2014 ARXML review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "notes": "Calls config_agent FastAPI on host port 8001. Timeout 600s (10 min) to allow phi4-mini cold start + LLM inference."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "confidence-check",
              "leftValue": "={{ .human_review_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-confidence-gate",
      "name": "Human review required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "notes": "ISO 26262 gate: routes to Gmail notification if human_review_required=true (confidence < 0.75 or error severity)"
    },
    {
      "parameters": {
        "sendTo": "mathew.s.crawford@gmail.com",
        "subject": "=\u26a0\ufe0f ARXML Review \u2014 Human Approval Required | Confidence: {{ .confidence_score }}",
        "emailType": "html",
        "message": "=<h2>AUTOSAR ARXML Review \u2014 Human Approval Required</h2><p><b>Confidence score:</b> {{ .confidence_score }}</p><p><b>Rationale:</b> {{ .rationale }}</p><p><b>Traceability refs:</b> {{ .traceability_refs.join(', ') }}</p><h3>Findings</h3><pre>{{ JSON.stringify(.findings, null, 2) }}</pre><hr><p><i>AI-assisted output. Human approval required before baseline entry per ADR-001.</i></p>",
        "options": {}
      },
      "id": "node-gmail-notify",
      "name": "Gmail \u2014 Human review notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        900,
        180
      ],
      "notes": "Sends structured review findings to mathew.s.crawford@gmail.com when human review required. Replace with Jira when credentials available.",
      "credentials": {
        "gmailOAuth2": {
          "id": "TGI9tkxrOLW4HssB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-field",
              "name": "status",
              "value": "human_review_required",
              "type": "string"
            },
            {
              "id": "notification-field",
              "name": "notification_sent",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "confidence-field",
              "name": "confidence_score",
              "value": "={{ .confidence_score }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-review-status",
      "name": "Set \u2014 review status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1120,
        180
      ],
      "notes": "Formats response after Gmail notification sent."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"auto_approved\", confidence_score: .confidence_score, findings_count: .findings.length, human_review_required: false, ai_assisted: true }) }}",
        "options": {}
      },
      "id": "node-auto-approve",
      "name": "Auto-approve \u2014 respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "notes": "High-confidence results auto-approved. Logged in n8n execution history for audit trail."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: \"pending_human_review\", confidence_score: .confidence_score, notification: \"Email sent to mathew.s.crawford@gmail.com\", human_review_required: true }) }}",
        "options": {}
      },
      "id": "node-respond-review",
      "name": "Respond \u2014 pending review",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        180
      ],
      "notes": "Returns pending status to caller. Caller should poll or wait for manual approval."
    }
  ],
  "connections": {
    "Webhook \u2014 ARXML diff received": {
      "main": [
        [
          {
            "node": "Config Agent \u2014 ARXML review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Agent \u2014 ARXML review": {
      "main": [
        [
          {
            "node": "Human review required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human review required?": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Human review notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-approve \u2014 respond to caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Human review notification": {
      "main": [
        [
          {
            "node": "Set \u2014 review status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set \u2014 review status": {
      "main": [
        [
          {
            "node": "Respond \u2014 pending review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionOrder": "v1"
  },
  "active": false
}